h1 {
    color: rgb(255, 0, 0);
    text-align: center;
}

h2 {
    text-align: center;
    background-color: rgb(169, 211, 235);
    border-radius: 7px ;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5%;
    margin-right: 5%;
}
.block {
    background-color: rgb(241, 221, 221);
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    border-color: rgb(0, 0, 0);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
}


img {
    width: 50%;
    margin: auto;
    display: block;

}

a {
    text-decoration-line: none;
}

